/********************/
/***** General ******/
/********************/

*, :after, ::before {
    box-sizing: border-box;
}
html {
    font: 400 16px/1.5 sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 200, 247);
}
main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.alert {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 1px 1px 3px 1px black;
    font-size: 1.5rem;
    margin: 1rem auto;
    width: 90%
}
.error {
    background-color: rgba(242, 24, 24, 0.6);
}
.info {
    background-color: rgba(127, 172, 244, 0.6);
}
.success {
    background-color: rgba(103, 229, 94, 0.6);
}
a {
	text-decoration: none;
	color: black;
}

/********************/
/****** Header ******/
/********************/
#main-title {
    text-transform: uppercase;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}
#main-title a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 1rem;
}
#welcome-message {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}
#welcome-message ~ p {
    text-align: center;
    font-size: 1.25rem;
}
/********************/
/** Connexion Page **/
/********************/
.main-connexion {
    border: 2px solid rgb(45, 176, 219);
    width: 30rem;
    height: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.form-connexion {
    text-align: center;
}
.form-connexion div {
    display: flex;
    margin: 1rem;
}
.form-connexion label {
    text-align: right;
    font-weight: bold;
    font-size: 1.25rem;
    width: 8rem;
}
.form-connexion span {
    display: block;
    width: 2rem;
}
.form-connexion input {
    flex: 1 1 auto;
    text-align: left;
    font-size: 1.25rem;
    padding: 0.25rem;
    background-color: rgb(186, 200, 247);
    border: none;
}
.form-connexion button {
    background-color: rgb(172, 248, 172);
    border: 1px solid black;;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 2rem auto 0 auto;
    cursor: pointer;
}
.main-connexion > p {
    font-size: .8rem;
    font-style: italic;
}
/********************/
/****** Footer ******/
/********************/
footer p {
    text-align: center;
}

/********************/
/**** Home Page *****/
/********************/
.home{
    flex: 1 1 auto;
    display: flex;
	flex-direction: column;
  	justify-content: center;
}
.item-home {
    font-size: 1.5rem;
    margin: 1.5rem auto;
}
.item-home a:hover {
  	text-decoration: underline;
}
.item-home i {
  	color: green;
  	width: 2rem;
  	margin-left: 1rem;
}
/********************/
/******* Nav ********/
/********************/
nav {
    background-color: #A5AEFF;
    display: flex;
    flex-direction: column;
    position: fixed;
}
nav a:hover {
  	background-color: #848AFF;
}
nav a {
  	flex: 1;
  	font-size: 1.5rem;
  	padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}
nav a i {
	color: orange;
	margin-right: 1.5rem;
	width: 2rem;
}
/********************/
/** Page newConnexion **/
/********************/
.newConvention {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#convention {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#convention .form {
  	margin-top: 1.3rem;
}
#convention .form input {
 	margin-left: 1rem;
}


/********************/
/** Page parametre**/
/********************/
.parametre {
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;*/
    margin-top: 5rem;
}

.parametre h1 {
    text-align: center;
    font-size: 2em;   
}

#form p{
    background: grey;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#form .form label {
    margin-left: 2rem;
}
/*div:nth-child(2) span:nth-child(1) {
    margin-left: 2rem;
}

div:nth-child(2) span:nth-child(2) {
    float: right;
}
*/
